body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #1b3a57;
  color: white;
  text-align: center;
  padding: 18px;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

header p {
  margin: 5px;
  font-size: 14px;
}

#map {
  height: 650px;
  width: 100%;
}

/* Popup styling */
.leaflet-popup-content {
  font-size: 13px;
  line-height: 1.4;
}